.#script.js

### Luyang personal gitignore list ###
*.db
*.elc
*.pyc
*.stackdump
/*.zip
.DS_Store
.ac-php-conf.json
.cache
.dap-breakpoints
.directory
.emacs.desktop
.emacs.desktop.lock
.extension
.lsp-session-*
.mc-lists.el
.places
.python-environments/
.recentf
.recentf~
.smex-items
.trello
/.cask/
/.my-keybindings.el.swp
/eww-bookmarks
/history
/image-dired
/network-security.data
/recentf
/session.*
/srecode-map.el
\#*
ac-comphist.dat
auto-save-list/
bbdb
bookmarks
crown/
eclipse.jdt.ls
edts/
elnode/
elpa/
EmmyLua-LS-all.jar
eproject.lst
eshell/alias
eshell/history
eshell/lastdir
export/
!/core/tools/export/
forge-database.sqlite
mspyls/
my-org/
nov-places
org-files/
org-journal.cache
projectile-bookmarks.eld
projectile.cache
python-*-docs-html
quickurls
racket-mode/
semanticdb/
server/
tmp/
tramp
transient/
url/*
var/
workspace
